<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ToDo list</title>
	<link rel="stylesheet" href="css/zero-style.css">
	<link rel="stylesheet" href="css/style.css">
	<script data-main="js/app" src="js/lib/require.js"></script>
</head>

<body>

	<script type="text/template" id="wrapper-template">
	
		<div class="wrapper">
		
			<div class="logo"></div>
	
			<ul class="item-list">
			</ul>
	
			<div class="cotrolls">
				<input type="text" class="item-value">
				<button class="item-add">Add</button>
			</div>
	
		</div>

	</script>
	
	<script type="text/template" id="list-template">

		<% for (var i = 0; i < data.length; i++) { %>
			<li> 
				<span> <%= data[i] %> </span>
				<a href="#" class="item-edit" data-value="<%= data[i] %>"></a>
				<a href="#" class="item-delete" data-value="<%= data[i] %>"></a>
			</li>
		<% }; %>
								
	</script>


</body>
</html>
